/* Create React App CSS I kept for css relevant to multiple components/screens */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Universal CSS I wrote */

.no-pad {
  padding: 0 !important;
}

a { 
  color: inherit; 
} 

h3,
h5 {
  font-family: 'Ultra', serif;
}

body {
  background-color: lightsalmon;
}